body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height:100vh;
}

.container {
    flex: 1;
}

/* Navbar */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.search-btn {
  background-color: #fe424d !important;
  border-radius: 25px !important;
  color: #fff !important;
  padding: 0 1rem 0 1rem !important;
}
.search-btn:hover {
  background-color: #fe424d !important;
  color: #fff !important;
}
.search-btn i {
  display: inline !important;
  margin-right: 0.5rem !important;
}
.search-inp {
  border-radius: 25px !important;
  padding: 0.5rem 3rem 0.5rem 3rem !important;
  font-size: 0.9rem !important;
}

@media (max-width: 767.98px) {
.navbar-collapse {
  background-color: white;
  padding: 1.5rem;        
  margin-top: 0.5rem;   
  border-radius: 0.75rem; 
}
}
/* Footer */

footer {
  background-color: #f7f7f7;
  border-top: 1px solid #ebebeb;
  font-size: 0.9rem;
}

.footer-link {
  text-decoration: none;
  color: #222; /* Dark text color */
  font-weight: 500;
}

.footer-link:hover {
  text-decoration: underline;
}

/* Fix for the dot separators */
.f-info-links span {
  color: #222;
}


/* index page */
.listing-cards{
    border: none !important;
    margin-bottom: 2rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}
.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

#filters {
  display: flex;
  /* This justifies the items (dropdown or list) to the left and the toggle to the right */
  justify-content: space-between; 
  align-items: center;
  padding: 1rem 0; 
}

.filters-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filter {
  text-align: center;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  opacity: 0.7;
}

.filter:hover {
  opacity: 1;
  cursor: pointer;
}

.filter p {
  font-size: 0.8rem;
  white-space: nowrap; 
  margin-bottom: 0;
}

.dropdown-item i.fa-fw {
  width: 1.25em; /* Aligns text in the dropdown */
}

.category-btn:hover {
  background-color: #fe424d !important;
  color: #fff !important;
  border: none;
}
.tax-info {
  display: none;
}

.tax-toggle {
  border: 0.05px solid rgba(57, 56, 56, 0.99);
  border-radius: 1.5rem;
  height: 2.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0; /* Prevents the toggle from shrinking */
}

.form-check-label {
  font-size: 0.9rem;
  white-space: nowrap;
}

/* Card Effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Show Image */
.show-img {
    height: 30vh;

}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

/* show.ejs page */

.show-img {
  width: 100%;
  height: 55vh; 
  object-fit: cover;
  border-radius: 1rem;
}

.review-card {
  padding: 1rem 1rem 1rem 1rem;  
  border: 1px solid #eee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.sticky-top {
    padding: 1rem 1rem 1rem 1rem;
}

#map {
  height: 400px;
  width: 100%;
  border-radius: 1rem;
}

